{% extends 'base.html' %}

{% block title %}
Puzzle | Swordle
{% endblock %}

{% block content %}
<h1>Puzzle ID: {{ puzzle.id }}</h1>
<a class="btn red" href="{% url 'puzzles_delete' puzzle.id %}">Delete</a>
<div class="flex-container">
  {% for letter in puzzle.hidden_word %}
  <div class="box">
     <p>{{ letter.capitalize }}</p>
  </div>
  {% endfor %}
</div>

{% for i in '012345'|make_list %}
  <div class="flex-container">
    {% for j in '01234'|make_list %}
      <div class="box">
        <p>{{ j }}</p> 
      </div>  
    {% endfor %}
  </div>
{% endfor %}

{% if error_message %}
<p class="red-text">Not a valid word</p>
{% endif %}
<form action="{% url 'add_guess' puzzle.id %}" method="POST">
  {% csrf_token %}
  {{ guess_form.as_p }}
  <input type="submit" value="Guess" class="btn blue">
</form>

{% for guess in puzzle.guess_set.all %}
  <div class="flex-container">
    {% for letter in guess|make_list %}
      <div class="box">
        <p>{{ letter }}</p> 
      </div>  
    {% endfor %}
  </div>
{% endfor %}

{% endblock %}