{% extends 'base.html' %}

{% block title %}
Puzzle | Swordle
{% endblock %}

{% block content %}
<h1>Puzzle</h1>
{% if puzzle.win_state %}
  <h2 class="red-text">This puzzle is finished!</h2>
{% endif %}
<a class="btn red" href="{% url 'puzzles_delete' puzzle.id %}">Delete</a>
<div class="hidden" id="hidden-word">{{ puzzle.hidden_word }}</div>
{% for guess in puzzle.guess_set.all %}
<div class="hidden guesses">{{ guess }}</div>
{% endfor %}

<div class="board" id="board"></div>

{% if error_message %}
<p class="red-text">Not a valid word</p>
{% endif %}
<form action="{% url 'add_guess' puzzle.id %}" method="POST">
  {% csrf_token %}
  {{ guess_form.as_p }}
  <input type="submit" value="Guess" class="btn blue">
</form>

<script>
  const board = document.getElementById('board')
  const hiddenWord = document.getElementById('hidden-word');
  const guessEls = document.querySelectorAll('.guesses')
  
  const guesses = [];
  for(let i = 0; i < guessEls.length; i++){
    guesses.push(guessEls[i].innerHTML);
  }

  console.log(guesses);

</script>

{% endblock %}