{% extends 'base.html' %}

{% block title %}
Puzzle Index | Swordle
{% endblock %}

{% block content %}

<h1>Puzzle Index</h1>

<form action="{% url 'create_auto' %}" method="POST">
  {% csrf_token %}
  <input class="btn" type="submit" value="New Puzzle">
</form>

{% for puzzle in puzzles %}
<a href="{% url 'puzzles_detail' puzzle.id %}">
  <div class="card">
    <div class="card-content">
      <div class="card-title">{{ puzzle.id }}</div>
      <p>Date: {{ puzzle.date }}</p>
      <p>Word: {{ puzzle.hidden_word }}</p>
    </div>
  </div>
</a>
{% endfor %}
{% endblock %}