* {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(42, 41, 41);
}

main {
  flex: 1 0 auto;
  color: white;
}

footer {
  padding-top: 0;
  text-align: right;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xxx-large;
  width: 7rem;
  height: 7rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-left: 1rem;
}

.correct-letter-location {
  background-color: green;
}

.correct-letter {
  background-color: orange;
}

.puzzle-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}

.nav-wrapper,
.page-footer {
  background-color: darkblue;
}

#id_word {
  color: white;
  font-size: 40px;
  text-align: center;
}

#guess-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

label {
  display: none;
}

form input {
  color: white;
}
